.App {
  background-color: rgb(0, 105, 255);
  min-height: 724px;
  padding: 50px;
}

.title {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  color: rgb(255, 255, 255);
}

.wrapper {
  padding: 0px 50px 50px;
  max-width: 850px;
  margin: 0px auto;
}

.article {
  padding: 0px 0px 20px 25px;
  color: rgb(255, 255, 255);
  font-size: 28px;
}

.loading {
  font-size: 16px;
  color: #FFFFFF;
}

.error {
  font-size: 16px;
  color: red;
}

.container {
  font-size: 18px;
  background: rgb(255, 255, 255);
  border-radius: 12px;
  border-bottom: 1px solid rgb(237, 242, 247);
  cursor: pointer;
  padding: 26px 24px;
  margin-bottom: 10px;
}

.block {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}

.question {
  font-weight: 500;
  margin: 0px;
  flex: 0.95 1 0%;
  color: rgb(30, 30, 40);
}

.text {
  color: rgb(143, 157, 177);
  font-size: 18px;
  padding-bottom: 20px;
}

.text a {
  color:rgb(0, 105, 255);
  text-decoration: none;
}

.info figure {
  width: auto !important;
  margin: 0;
}